h4 {
  display: inline;
}

.message-text {
  margin-top: 5px;
}

.chat-panel {
  height: 400px;
  overflow-y: auto;
}

.user-panel {
  height: 170px;
  overflow-y: auto;
}

.room-panel {
  height: 170px;
  overflow-y: auto;
}

.margin-fix {
  margin-top: -15px !important;
}
