h4 {
  display: inline;
}

.message-text {
  margin-top: 5px;
}

.chat-panel {
  height: 402px;
  overflow-y: auto;
}

.user-panel {
  height: 176px;
  overflow-y: auto;
}

.room-panel {
  height: 176px;
  overflow-y: auto;
}

.padding-fix {
  padding-left: 85px !important;
  padding-right: 30px !important;
}

.custom-active {
  background: #428bca;
  border-radius: 8px;
  color: white;
}

.custom-active a {
  color: white;
}

.custom-active a:hover {
  color: white;
}

#room-list a {
  text-decoration: none;
}

.room-text {
  margin-left: -10px !important;
  margin-top: 0px !important;
  padding: 3px 6px 3px 6px !important;
}

.room-text label {
  margin: 0px !important;
}

.room-text:hover {
  background: #E8E8E8;
  border-radius: 8px;
}

.custom-active:hover {
  background: #428bca;
  border-radius: 8px;
}

.menu-image {
  float: left;
  margin-bottom: -90px;
}

.border-form-div {
  max-width: 400px;
  padding: 5px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div h2 {
  margin-bottom: 20px;
}

.form-inputs .checkbox {
  margin-left: 20px;
}

.alert-error {
  padding: 0px !important;
}

.form-control {
  border: 1px solid #428bca !important;
}

.col-md-9 {
  padding-right: 5px !important;
}

.col-md-3 {
  padding-left: 5px !important;
}

.panel.panel-primary {
  margin-bottom: 10px !important;
}

.pull-right {
  margin-top: 1px !important;
}
