<div class="container">
  <div>
    <div>
      <form id="input-message">
        <input type="text" id="message">
        <button id="send">Send!</button>
      </form>
    </div>

    <div id="chat" data-uri="<%= request.host %>:<%= request.port %>/websocket">
    </div>
  </div>

  <div>
    <ul id="user-list">
    </ul>
  </div>
</div>
