<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Chat Box</h3>
        </div>
        <div class="panel-body">
          <div id="chat" class="" data-uri="<%= request.host %>:<%= request.port %>/websocket">
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 id="user-heading" class="panel-title">Users</h3>
          </div>
          <div class="panel-body">
            <div id="user-list"></div>
          </div>
        </div>
      </div>
    </div>



  <div class="row">
    <form id="input-message">
      <div class="col-md-8">
      <input type="text" id="message" class="form-control" placeholder="Message...">
      </div>
      <button id="send" class="btn btn-primary">Send!</button>
    </form>
  </div>
</div>
