<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" id="chatbox-header">Channel Name</h3>
        </div>
        <div class="panel-body chat-panel">
          <div id="chat" class="tab-content" data-uri="<%= request.host %>:<%= request.port %>/websocket">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 id="user-heading" class="panel-title">Users</h3>
        </div>
        <div class="panel-body user-panel">
          <div id="user-list"></div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 id="room-heading" class="panel-title">Rooms</h3>
        </div>
        <div class="panel-body room-panel">
          <ul id="room-list" class="nav nav-pills nav-stacked" role="tablist"></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <form id="input-message">
      <div class="col-md-9">
        <div class="input-group">
          <input type="text" id="message" class="form-control" placeholder="Message..." autofocus>
          <span class="input-group-btn">
            <button id="send" class="btn btn-primary">Send!</button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>
